<!DOCTYPE html>
<!DOCTYPE html>
<html>
<style>
	table, th, td{border: 1px black;}
</style>
<head>
	<title>About me: </title>
</head>
<body>
	<h1>Asmita Dhakal</h1>
	<p>Hello, I am senior Computer Science student at University of Colorado Boulder. I was born and raised in Nepal and I moved to the states at the age of 10. I enjoy learning on how computers are able to do so much in seconds while it may take humans hours to do, which is why I am studying Computer Science. </p>
	<h2>My Professional Profile</h2>
	<a href="https://github.com/asmita19">Asmita's Github</a>
	<br><img src="Asmita.jpg" alt="Asmita Dhakal" width = "390" height="525">

	<!--My Favorite Project-->
	<h3>My favorite Projects:</h3>
	<table>
		<tr>
			<th style = "text-align:left;">Name of Projects</th>
			<th>Technologies Used</th>
		</tr>
		<tr>
			<td>Reminder application</td>
			<td>C++</td>
		</tr>
		<tr>
			<td>Smart Shelf</td>
			<td>Adobe XD</td>
		</tr>
		<tr>
			<td>Complexion Finder</td>
			<td>C++</td>
		</tr>
	</table>
	<!--Countries Traveled-->
	<h3>Countries Travelled</h3>
	<p>1. Nepal
	<br>2. USA
	<br>3. Thailand
	</p>
	<!--My Interests-->
	<h3>My Interests</h3>
	<ul>
	  <li>Researching</li>
	  <li>Editing</li>
	  <li>Swimming</li>
	  <li>Exploring</li>
</ul>

</body>
</html>
<!-- -->
